body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
#particles-js{
    height: 99vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
    top: 0;
    lefst: 0;
    right: 0;
    bottom: 0;
}
#heroArea {
    min-height: 99vh;
}
header{
    min-height: 65px;
    /* background-color: #000; */
}
#innterHero{
min-height: 80vh;
}
#heroMiddle{
    min-height: 100%;
    width: 140;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circleAsLogo{
    height: 125px;
    width: 125px;
    border-radius: 50%;
    border: solid #121212 4px;
}

.leftArrowHighContainer{
    height: 350px;
    flex-direction: column;
    background: rgba(0,0,0,0.001);
    min-width: calc((80vw - 100px) / 2);
    transition: all 0.3s;
    cursor: pointer;
    font-weight: bolder;
}


.anotherDivInSideContainer{
    height: 0px;
    width: 100%;
    transition: all 0.3s;
}
.leftArrowHighContainer:hover{
    background: rgba(0,0,0,0.15);
}
.leftArrowHighContainer:hover
.anotherDivInSideContainer{
    height: 60px;
}
.textDivInSideContainer .imgAndUrlWillBeInlineCss{
    transition: all 0.3s;
}
.leftArrowHighContainer:hover
.textDivInSideContainerLeft .imgAndUrlWillBeInlineCss{
    transform: translateX(185%);
    opacity: 0;
}

.leftArrowHighContainer:hover
.textDivInSideContainerRight .imgAndUrlWillBeInlineCss{
    transform: translateX(-185%);
    opacity: 0;
}

.MenuIcon{
    height: 30px;
    width: 50px;
    background: url('../Images/list.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.headerMenuCont{
    cursor: pointer;
    background-color: rgba(0,0,0,0.001);
    transition: all 0.2s;
}
.headerMenuCont:hover{
    background-color: rgba(0,0,0,0.05);
}
.headerMenuCont h5{
    opacity: 0;
    position: relative;
    transform: translateX(-30px);
    transition: transform 0.4s linear, opacity 0.2s ease-out;
}
.headerMenuCont:hover h5{
    opacity: 1;
    position: relative;
    transform: translateX(0px);
    transition: all 0.2s ease-out;
}

.socialMediaIcon{
    height: 23px;
    width: 23px;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.8;
    background-position: center;
}

#MenuContainer{
    position: absolute;
    z-index: 0;
    height: 100vh;
    width: 100vw;
    top:0;
    left:0;
    background-color: #121212;
    opacity: 0.7;
    transform: translateX(-101%);
    transition: transform 0.5s ease,opacity 0.3s linear;
}

 .menuContainerActive{
     opacity: 1 !important;
    transform: translateX(0%) !important;
   
}

#menuExitIcon{
    background: url('../Images/close.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 30px;
    height:30px;
    opacity: 0.8;
    position: absolute;
    top:15px;
    right:15px;
    transition: all 0.2s ease;
    cursor:pointer;
}

#menuExitIcon:hover{
    opacity: 1;
}

body{
    overflow: hidden;
}

.imgAndUrlWillBeInlineCss{
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center !important;
    height: 30px;
    width: 120px;
    margin-top: 8px;
}