body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
#particles-js{
    height: 99vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
    top: 0;
    lefst: 0;
    right: 0;
    bottom: 0;
}
#heroArea {
    min-height: 99vh;
}
header{
    min-height: 65px;
    background-color: #000;
}
#innterHero{
min-height: 80vh;
}
#heroMiddle{
    min-height: 100%;
    width: 140;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circleAsLogo{
    height: 125px;
    width: 125px;
    border-radius: 50%;
    border: solid #121212 4px;
}

.leftArrowHighContainer{
    height: 350px;
    flex-direction: column;
    background: rgba(0,0,0,0.001);
    min-width: calc((80vw - 100px) / 2);
    transition: all 0.3s;
}


.anotherDivInSideContainer{
    background-color: #000;
    height: 0px;
    width: 100%;
    transition: all 0.3s;
}
.leftArrowHighContainer:hover{
    background: rgba(0,0,0,0.15);
}
.leftArrowHighContainer:hover
.anotherDivInSideContainer{
    height: 60px;
}
.textDivInSideContainer{
    transition: all 0.3s;
}
.leftArrowHighContainer:hover
.textDivInSideContainerLeft{
    transform: translateX(250%)
}

.leftArrowHighContainer:hover
.textDivInSideContainerRight{
    transform: translateX(-250%)
}

.MenuIcon{
    height: 40px;
    width: 120px;
    background: url('../Images/list.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}